<div class="container bg-secondary" style="margin-top: 0.5%; height: 60px;">
    <center>
        <h4 style="color: rgb(71, 62, 62; padding-top: 10px;"> Todos los Derechos Reservados | Cristian Genjiro Quintero Sanchez</h4>
    </center>
</div>

